#answer-options-container > div {
    transition: all 1s ease-out;
}

.correct-answer{
    background-color: lightgreen;
}

.incorrect-answer{
    background-color: indianred;
}

#quizz-question-container {
    min-width: 300px;
    width: 50%;
}

#answer-options-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 15px;
}

.answer-option {
    flex: 48%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin: 1px;
}

.answer-option > * {
    margin: 5px;
}

#question {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

#buttons-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

#modal-container{
    z-index: 1;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}

.hidden{
    display: none;
}

#modal-quiz, #modal-quiz-end{
    user-select: none;
    min-width: 300px;
    width: 50%;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    background-color: white;
    box-shadow: #cd5353 0 0 15px;
    position: relative;
    color: black;
    max-height: 90vh;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

#modal-quiz::-webkit-scrollbar,
#modal-quiz-end::-webkit-scrollbar {
    display: none;
  }

#modal-quiz-end {
    text-align: center;
}

.close-modal-button{
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 110%;
    width: 30px;
    height: 30px;
    text-align: center;
    user-select: none;
    color: indianred;
    font-weight: bold;
}

.close-modal-button:hover{
    background-color: lightblue;
}

@media screen and (max-width: 750px) {
    #answer-options-container {
        display: block;
    }
}