@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&display=swap');

/*-------------------------- General */
/*-------------------------- Removing extra whitespace */

:root {
    /* fonts */
    --title: "Permanent Marker", sans-serif;
    --header-font: "Maven Pro" sans-serif;
    --body-font: "Open Sans", sans-serif;
}

html,body {
    font-family: var(--body-font);
    font-family: Maven Pro;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #230007;
    color: #ffffff; 
}

h1,
h2 {
    font-family: var(--header-font);
    font-weight: 300;
}

h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    font-weight: 400;
}


/*-------------------------- Colors */
.btn-color:hover {
    background-color: #D98324 !important;
}

.btn-contact {
    color:white;
    border: 1px solid white;
}

.btn-contact:hover {
    background-color: #D7CF07;
}

/*-------------------------- Header */
/*-------------------------- navbar */
.navbar{
    padding: 15px 10px 15px 10px;
    background-color: #A40606 !important; 
}

.navbar-brand {
    font-family: var(--title);
    color:#ffffff;
    font-weight: 300;
    font-size: x-large;
}

.navbar-links {
    color: white;
}

/*-------------------------- Hero image section */
/*-------------------------- hero image*/
#hero-image{
    height: 700px;
    width: 110%;
    overflow: hidden;
    position: relative;
}

.crowd-image {
    object-fit: cover;
    height: 700px;
    width: 100%;
}

/*---------------------------- about section*/
#about-intro img {
    background-position: 50% 70%;
    width: 100%;
    height: 300px;
    object-fit: cover;
    order: 1;
    margin-bottom: 20px;
    border-radius: 0.375rem;
}

#about-intro p {
    margin-bottom: 20px;
}


/*--------------------------- categories section */
.fixed-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-position: 30% 70%;
}

#categories .card-text {
    min-height: 125px;
}

.card-body h3 {
    font-size: 95%;
    font-weight: bold;
}
/*-------------------------- stories section */

.carousel-body {
    border-radius: 0.375rem;
    /* border: 3px solid yellowgreen; */
    padding: 0;
}
.carousel-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-right-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
}

.carousel-item div {
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
}

.carousel-caption-container {
    background: rgba(255, 102, 102, 0.8); /* Light red with transparency */
    margin: 0 ;
    text-align: center;
    color: white;
    height: 150px;
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
  }

.carousel-text {
    min-height: 80px;
    padding: 5px;
    margin: 5px;
}

.carousel-indicators {
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    bottom: 30%;
    left: 0;
    height: 20px;
    margin: 15px 0;
    width: 100%;
}
/*-------------------------- image text */

#hero-text {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;

    width: 600px;
    height: 250px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(49, 49, 49, 0.7);

    bottom: 25px;
    left: 100px;

    position: absolute;
}

/* --------------------------- footer */

.footer {
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    background-color: #A40606;
}

#footer-heading {
    margin-bottom: 30px;
}

.footer-links {
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

#footer-line-break {
    color: white;
    height: 5px;
    margin: 0;
}

.footer-text {
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.footer-arrow-button {
    border-radius: 50px;
    background-color: #A40606;
    border: 1px solid white;
}

.footer-arrow-icon {
    color: white;
}

.footer-links:hover {
    color: #230007;
}

.footer-arrow-button:hover {
    background-color: #230007;
}
/*-------------------------- Take action section */

#action-header{
    padding-top: 90px;
    text-align: center;
}

#action-subheader-container{
    padding: 80px 0 60px 0;
}

#take-action{
    width: 400px;
    height: 600px;
    border-radius: 5px;
}

#action-subheader-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

#action-subheader-text{
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}


/*------------------------------------------Bootstrap breakpoint for tablet screens */
@media screen and (min-width: 768px) {

    /* About section in home */
    #about-intro {
        width: 100%; 
        margin: 30px 0;
        overflow: hidden;
      }
    
      #about-intro img {
        float: right;
        width: 300px; 
        margin-left: 20px; 
        margin-bottom: 10px;
        height: 270px;
      }
    
      #about-intro p {
        text-align: justify; 
        margin-bottom: 30px;
        padding-bottom: 5px;
      }
}

/*------------------------------------------Bootstrap breakpoint for laptop screens */
@media screen and (min-width: 1024px) {

    /* Adjust all categories cards */
    .card-body h3 {
        font-size: 95%;
        font-weight: bold;
    }

    #about-intro img {
        width: 300px;
        height: 340px;
        margin-bottom: 0;
      }

      #about-intro p {
        margin-bottom: 20px;
      }
}

/*------------------------------------------Bootstrap breakpoint for extra large screens */
@media screen and (min-width: 1440px) {

    #about-intro img {
        width: 420px; 
        height: 370px;
        margin-bottom: 0;
      }

      #about-intro p {
        margin-bottom: 20px;
      }
}

/* -------------------------------stats page */

.stats-h2 {
    font-weight: 700;
}

.stats-h5 {
    font-weight: 500;
}

.stats-images {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border: 1px solid white; 
}

.signs-section {
    background-color: lightgray;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
    font-weight: 700;
    color: black;
}

.take-action-section {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
}

/* -------------------------------- error page */

.error-page {
    height: 40vh;
}

/* -------------------------------- page link button */

.link-button {
    width: 120px;
}