@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&display=swap');

/*-------------------------- General */
/*-------------------------- Removing extra whitespace */

:root {
    /* fonts */
    --title: "Permanent Marker", sans-serif;
    --header-font: "Maven Pro" sans-serif;
    --body-font: "Open Sans", sans-serif;
}

html,body {
    font-family: var(--body-font);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

h1,
h2 {
    font-family: var(--title);
    font-weight: 300;
}

h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    font-weight: 400;
}


/*-------------------------- Colors */

/*-------------------------- Header */
/*-------------------------- navbar */
.navbar{
    padding: 15px 10px 15px 10px
}

.navbar-brand {
    font-family: var(--title);
    font-weight: 300;
}

/*-------------------------- Hero image section */
/*-------------------------- hero image*/
#hero-image{
    height: 700px;
    width: 110%;
    overflow: hidden;
    position: relative;
}

.crowd-image {
    object-fit: cover;
    height: 700px;
    width: 100%;
}

/*--------------------------- categories section */
.fixed-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-position: 30% 70%;
}

#categories .card-text {
    min-height: 100px;
}

/*-------------------------- stories section */
.carousel-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.carousel-item div {
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
}

.carousel-caption-container {
    background: rgba(255, 102, 102, 0.8); /* Light red with transparency */
    padding: 10px;
    text-align: center;
    color: white;
    height: 150px;
  }

.carousel-text {
    min-height: 80px;
    padding: 5px;
    margin: 5px;
}

.carousel-indicators {
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    bottom: 30%;
    left: 0;
    height: 20px;
    margin: 15px 0;
    width: 100%;
}
/*-------------------------- image text */

#hero-text {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;

    width: 600px;
    height: 250px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(49, 49, 49, 0.7);

    bottom: 25px;
    left: 100px;

    position: absolute;
}

/* --------------------------- footer */

.footer {
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    background-color: lightgray;
}

#footer-heading {
    margin-bottom: 30px;
}

.footer-links {
    font-size: 16px;
    text-decoration: none;
    color: rgba(49, 49, 49, 1);
}

#footer-line-break {
    color: black;
    height: 5px;
    margin: 0;
}

.footer-text {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.footer-arrow-button {
    border-radius: 50px;
    background-color: lightgrey;
    border: 1px solid black;
}

.footer-arrow-icon {
    color: black;
}

.footer-links:hover {
    color: rgba(49, 49, 49, 0.7);
}

.footer-arrow-button:hover .footer-arrow-icon {
    color: white;
}
/*-------------------------- Take action section */

#action-header{
    padding-top: 90px;
    text-align: center;
}

#action-subheader-container{
    padding: 80px 0 60px 0;
}

#take-action{
    width: 400px;
    height: 600px;
    border-radius: 5px;
}

#action-subheader-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

#action-subheader-text{
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

/* Use Bootstrap breakpoint for XL screens */
@media screen and (min-width: 1200px) {

    /* Fixes all portfolio cards being too tall on xl screens */
    #categories .card-text {
        min-height: auto;
    }
}

/* -------------------------------stats page */

.stats-h3 {
    font-weight: 700;
}

.stats-h5 {
    font-weight: 500;
}

.stats-images {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.signs-section {
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.take-action-section {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}