/*-------------------------- General */
/*-------------------------- Removing extra whitespace */

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/*-------------------------- Colors */

/*-------------------------- Header */
/*-------------------------- navbar */
.navbar{
    padding: 15px 10px 15px 10px
}

/*-------------------------- Hero image section */
/*-------------------------- hero image*/
#hero-image{
    height: 700px;
    width: 110%;
    overflow: hidden;
    position: relative;
}

.crowd-image {
    object-fit: cover;
    height: 700px;
    width: 100%;
}

/*-------------------------- image text */

#hero-text {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;

    width: 600px;
    height: 250px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(49, 49, 49, 0.7);

    bottom: 25px;
    left: 100px;

    position: absolute;
}

/*-------------------------- Take action section */

#action-header{
    padding-top: 90px;
    text-align: center;
}

#action-subheader-container{
    padding: 80px 0 60px 0;
}

#take-action{
    width: 400px;
    height: 600px;
}

#action-subheader-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

#action-subheader-text{
    display: flex;
    align-items: center;
    text-align: center;
}

#quiz-header{
    padding-top: 90px;
    text-align: center;
}